* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    /* width: 90%; */
    max-width: 729px;
    height: auto;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    border: 1px solid black;
     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    gap: 11px;
   
}
/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/